.spinner {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
	margin: 2rem auto;
}
		
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.filebox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filebox .upload-name {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  width: 20%;
  color: #999;
  box-sizing: border-box;
}

.btn {
	background-color: #25298a;
	border: none;
	font-size: 16px;
	
	height: 40px;
	padding: 0 20px;
	margin-left: 10px;
	color: #fff;
}

.filebox label {
	height: 40px;
	padding: 0 20px;
	background-color: #999;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	margin-left: 10px;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 0;
}

.table {
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

.table thead, .table tbody tr td:first-child {
    background-color: #f4f4f4;
    font-size: 20px;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}